.search_container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    input {
        background-color: $background;
        width: inherit;
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 20px;
    }
    img {
        background-color: $background;
        width: 30px;
        border-radius: 0 5px 5px 0;
        padding: 13px;
    }
}