.input_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $searchinput;
    padding: 5px 20px 5px 4px;
    border-radius: 5px;
    label {
        display: none;
    }
    .search_text {
        background-color: transparent;
        border: none;
        padding: 20px;
        width: 90%;
        &[type="search"] {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: black;
        }
    }
}

.search_text::placeholder {
    opacity: 0.5;
}

.search_text:focus {
    outline: none;
}

.search_error {
    color: #D04F4F;
    display: none;
}

.searchBtn:hover {
    cursor: pointer;
}

button {
    border: none;
    background-color: $searchinput;
}