.select_container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    gap: 20px;

    #ingredient_select input {
        background-color: $blue;
    }

    #device_select input {
        background-color: $green;
    }

    #utensil_select input {
        background-color: $red;
    }

    #ingredient_select input, #device_select input, #utensil_select input {
        width: -webkit-fill-available;
        padding: 20px;
        border: none;
        border-radius: 5px 5px 5px 5px;
        //color: white;
        &::placeholder {
            color: white;
        }
    }
}